<!doctype html>
<html>

<head>
    <title>Baby Store-Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <link href="{{url_for('static',filename='fontawesome/css/all.css')}}" rel="stylesheet">
    <script>
        $(() => {
            $("#searchInputBox").on("input", (e) => {
                const searchInputBoxValue = $("#searchInputBox").val();
                // console.log(searchInputBoxValue)
            })
        })
    </script>

</head>

<body class="">
    <div class="container-fluid">
        <div class="row justify-content-center p-0">
            <div class="col-md-9 col-sm-12 p-0" align="right">

                    <div class="rounded">
                        <div class="">
                            <img src="{{ url_for('static', filename='img/cover.jpg') }}" alt="cover-img" class="w-100">
                        </div>
                        <div class="py-3 px-2 bg-light d-flex flex-row justify-content-end border ">
                            <div class="d-flex flex-row px-2">
                                <a class="nav-link" href="/">Home</a>
                                <a class="nav-link" href="/about">About</a>
                                <a class="nav-link" href="/logout">Logout</a>
                                {% if request.cookies.get("cartCount")|length > 0 %}
                                <a href="/cart" class="text-primary font-weight-bold d-flex align-items-center px-2" style="cursor: pointer;">
                                    <span class="px-1" style="font-size: 20px;"> <i class="fa fa-shopping-cart"></i></span>
                                    {{ request.cookies.get("cartCount") }}
                                </a>
                                {% endif %}
                                <div class="text-success font-weight-bold d-flex align-items-center" style="cursor: default">
                                    <span class="px-1" style="font-size: 24px;"> <i class="fa fa-user-circle"></i></span>
                                    {{ request.cookies.get("loggedName") }}
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="py-5 border border-left-0 border-right-0 border-top-0 mb-5 w-100">
                    <div class="d-flex flex-row align-items-center justify-content-between my-1 py-2 rounded text-light border border-muted" style="background-color: #a0a5c9">
                        <div class="pr-3 py-1 h6 font-weight-bold w-50 mx-1 my-0 text-left pl-3">No</div>
                        <div class="pr-3 py-1 h6 font-weight-bold w-100 mx-1 my-0 text-left">NAME</div>
                        <div class="pr-3 py-1 h6 font-weight-bold w-100 mx-1 my-0 text-left">CATEGORY</div>
                        <div class="pr-3 py-1 h6 font-weight-bold w-100 mx-1 my-0">ORIGINAL PRICE</div>
                        <div class="pr-3 py-1 h6 font-weight-bold w-100 mx-1 my-0 text-center">PROMOTION</div>
                        <div class="pr-3 py-1 h6 font-weight-bold w-100 mx-1 my-0">PRICE</div>
                    </div>
                    {% for item in cartItemList %}
                        <div class="d-flex flex-row justify-content-between my-1 p-2 rounded text-dark border border-muted" style="background-color: #f0f0f9">
                            <div class="pr-3 py-1 h6 w-50 mx-1 my-0 text-left pl-3">{{item.no}}</div>
                            <div class="pr-3 py-1 h6 w-100 mx-1 my-0 text-left">{{item.fname.capitalize()}}</div>
                            <div class="pr-3 py-1 h6 w-100 mx-1 my-0 text-left">{{item.type.capitalize()}}</div>
                            <div class="pr-3 py-1 h6 w-100 mx-1 my-0">{{item.price}} <span style="color: #9595a5; font-weight: 100; padding-left: 4px;">MMK</span></div>
                            <div class="pr-3 py-1 h6 w-100 mx-1 my-0 text-center">{{ "10%" if item.promotion else ""}}</div>
                            <div class="pr-3 py-1 h6 w-100 mx-1 my-0">{{item.aprice}} <span style="color: #9595a5; font-weight: 100; padding-left: 4px;">MMK</span></div>
                        </div>
                    {% endfor %}
                    <div class="d-flex flex-row justify-content-end my-1 " style="">
                        <div class="pr-2 h6 py-2 text-secondary w-50 text-right">Total: </div>
                        <div class="pr-4 py-2 rounded h6 font-weight-bold text-dark border border-muted" style="width: 200px; vertical-align: text-bottom; background-color: #f0f0f9">{{ totalAmount }} <span style="color: #9595a5; font-weight: 100; padding-left: 4px;">MMK</span>&nbsp;</div>
                    </div>
                    <div class="d-flex flex-row justify-content-end my-1 " style="">
                        
                        <a href ="/clearCart" class="text-center py-2 rounded h6 mr-2 font-weight-bold bg-warning text-white" style="width: 200px; vertical-align: text-bottom">
                            <i class="fa fa-credit-card px-2 text-danger" style="font-size: 16px;"></i>
                            <span>Cancel</span>
                        </a>
                        <a href ="/cart-checkout" class="text-center py-2 rounded h6 font-weight-bold bg-success text-white" style="width: 200px; vertical-align: text-bottom">
                            <i class="fa fa-credit-card px-2" style="font-size: 16px; color: #ffc000"></i>
                            <span>Checkout</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>