<!doctype html>
<html>

<head>
    <title>Baby Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <link href="{{url_for('static',filename='fontawesome/css/all.css')}}" rel="stylesheet">
    <script>
        $(() => {
            $("#searchInputBox").on("input", () => {
                const searchInputBoxValue = $("#searchInputBox").val();
                const typeList = $("#searchContainer").attr("typeList").replace("[", "").replace("]", "").split(",").map(v => v.trim().split("'")[1])
                
                $("#searchContainer").empty()
                if(searchInputBoxValue.length>0) {
                    const list = typeList.filter(v=>v.toLocaleLowerCase().includes(searchInputBoxValue.toLocaleLowerCase()))
                    list.forEach((it, i) => {
                        if(i<12)
                            $("#searchContainer").append(`<a href="/product/`+it+`" class="p-2 d-block text-secondary bg-light border" style="border-radius: 2px; margin-top: 1px;">`+it+`</a>`) 
                    });
                }
            })
        })
    </script>
    <style>
        .mItem {
            cursor: pointer;
        }
        .mItem:hover {
            background-color: #ffffff;
        }
    </style>
</head>

<body class="">
    <div class="container-fluid">
        <div class="row justify-content-center p-0">
            <div class="col-md-9 col-sm-12 p-0">

                <div class="rounded">
                    <div class="">
                        <img src="{{ url_for('static', filename='img/cover.jpg') }}" alt="cover-img" class="w-100">
                    </div>
                    <div class="py-3 px-2 bg-light d-flex flex-row justify-content-between border ">
                        <div class="input-group col-lg-4 col-md-6 ">
                            <div class="form-control p-0">
                                <input type="text" class="form-control border-0" placeholder="Search" id="searchInputBox">
                                <div id="searchContainer" style="position: absolute; left:0px; right: 0px; margin-top: 4px;" class="" typeList="{{type_list}}"></div>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2" style="cursor: default"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                        <div class="d-flex flex-row px-2">
                            <a class="nav-link" href="/">Home</a>
                            <a class="nav-link" href="/about">About</a>
                            <a class="nav-link" href="/logout">Logout</a>
                            {% if request.cookies.get("cartCount")|length > 0 %}
                            <a href="/cart" class="text-primary font-weight-bold d-flex align-items-center px-2" style="cursor: pointer;">
                                <span class="px-1" style="font-size: 20px;"> <i class="fa fa-shopping-cart"></i></span>
                                {{ request.cookies.get("cartCount") }}
                            </a>
                            {% endif %}
                            <div class="text-success font-weight-bold d-flex align-items-center" style="cursor: default">
                                <span class="px-1" style="font-size: 24px;"> <i class="fa fa-user-circle"></i></span>
                                {{ request.cookies.get("loggedName") }}
                            </div>
                        </div>
                    </div>
                </div>

                {% if request.cookies.get("loggedEmail") == 'admin@gmail.com' %}
                    <div class="rounded border border-primary mt-3">
                        <div class="d-flex flex-row p-2 justify-content-between bg-primary rounded-top {{ '' if request.args.get('newProduct') else 'rounded-bottom' }}" style="">
                            <div class="text-success w-75 font-weight-bold align-items-center" style="cursor: pointer;">
                                <a href="?newProduct=1" class="px-3" style="text-decoration: none">
                                    <span class="px-1 text-light" style="font-size: 20px;"> <i class="fa fa-plus-circle"></i></span>
                                    <span class="text-light">Add New Product</span>
                                </a>
                            </div>   
                            {% if request.args.get('newProduct') %}
                            <a class="" href="/" >
                                <span class="px-1 text-warning" style="font-size: 20px;"> <i class="fa fa-times-circle"></i></span>
                            </a>
                            {% endif%}
                        </div>   
                        {% if request.args.get('newProduct') %}
                        <div class="p-3">
                            <form action="/saveProduct" method="POST" class="w-50" enctype="multipart/form-data">
                                <div class="form-text text-danger py-2">{{ errorText }}</div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Product Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Enter product name" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Price</label>
                                    <input type="number" name="price" class="form-control" placeholder="Enter price of product" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Select Catetory</label>
                                    <select class="form-control" name="category" required>
                                        {% for c in categoryList %}
                                        <option value="{{c}}">{{c.capitalize()}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Image of product</label>
                                    <input type="file" accept="image/*" name="img" class="form-control" placeholder="Choose image of product" required>
                                </div>

                                <button type="submit" class="btn btn-primary form-control">
                                    Save this Product
                                    <span class="px-1 text-light" style="font-size: 20px;"> <i class="fa fa-check-circle"></i></span>
                                </button>
                            </form>
                        </div>    
                        {% endif %}                     
                    </div>
                {% endif %}

                <div class="rounded bg-light py-4 d-flex flex-row flex-wrap justify-content-start">
                    {% for item in itemList %}
                        <div class="mItem p-1 border m-1 d-flex flex-column rounded justify-content-between">
                            <a class="" href="/product/{{item.type}}/{{item.fname}}">
                                <div class="p-1">
                                    <img src="{{ url_for('static', filename='photos/'+item.type+'/'+item.img) }}" alt="{{ item.img }}" class="" width="230">
                                </div>
                                <div class="p-2">
                                    <div class="h6 text-seconary text-center" style="width: 220px">{{ item.fname.replace("_", " ").replace("-", " ") }}</div>
                                    <div class="text-seconary text-center text-secondary w-100" style="font-size: 13px;">{{ item.type }}</div>
                                </div>
                            </a>
                            <a class="p-2 bg-success w-100 rounded d-flex flex-row justify-content-between" href="/add-to-cart/{{item.id}}/{{request.path.replace('/', '$')}}">
                                <div class="text-seconary text-center text-white" style="font-size: 14px;">{{ item.price }} KS</div>
                                <div>
                                    <i class="fa fa-cart-plus text-light" style="font-size: 18px;"></i>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</body>

</html>