<!doctype html>
<html>

<head>
    <title>Baby Store-Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <link href="{{url_for('static',filename='fontawesome/css/all.css')}}" rel="stylesheet">
    <script>
        $(() => {
            $("#searchInputBox").on("input", (e) => {
                const searchInputBoxValue = $("#searchInputBox").val();
                // console.log(searchInputBoxValue)
            })
        })
    </script>
    <style>
        .mItem {
            cursor: pointer;
        }
        .mItem:hover {
            background-color: #ffffff;
        }
    </style>
</head>

<body class="">
    <div class="container-fluid">
        <div class="row justify-content-center p-0">
            <div class="col-md-9 col-sm-12 p-0">

                <div class="rounded">
                    <div class="">
                        <img src="{{ url_for('static', filename='img/cover.jpg') }}" alt="cover-img" class="w-100">
                    </div>
                    <div class="py-3 px-2 bg-light d-flex flex-row justify-content-end border ">
                        <div class="d-flex flex-row px-2">
                            <a class="nav-link" href="/">Home</a>
                            <a class="nav-link" href="/about">About</a>
                            <a class="nav-link" href="/logout">Logout</a>
                            {% if request.cookies.get("cartCount")|length > 0 %}
                            <a href="/cart" class="text-primary font-weight-bold d-flex align-items-center px-2" style="cursor: pointer;">
                                <span class="px-1" style="font-size: 20px;"> <i class="fa fa-shopping-cart"></i></span>
                                {{ request.cookies.get("cartCount") }}
                            </a>
                            {% endif %}
                            <div class="text-success font-weight-bold d-flex align-items-center" style="cursor: default">
                                <span class="px-1" style="font-size: 24px;"> <i class="fa fa-user-circle"></i></span>
                                {{ request.cookies.get("loggedName") }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <div class="w-25 py-4">
                        {% if item.fname|length > 0 %}
                        <div class="mItem p-3 border m-1 d-flex flex-column rounded justify-content-between bg-primary text-white text-center h5">
                            <div class="">Result</div>
                        </div>
                        <div class="rounded bg-light d-flex flex-row flex-wrap justify-content-center">
                            <div class="py-2"></div>
                            <div class="mItem p-1 border m-1 d-flex flex-column rounded justify-content-between">
                                <div class="p-1">
                                    <img src="{{ url_for('static', filename='photos/'+item.type+'/'+item.img) }}" alt="{{ item.img }}" style="width: 300px;">
                                </div>
                                <div class="p-2 text-center">
                                    <div class="h6 text-seconary text-center">{{ item.fname.replace("_", " ").replace("-", " ") }}</div>
                                    <div class="text-seconary text-center text-secondary w-100" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis">{{ item.type }}</div>
                                </div>
                                <a class="p-2 bg-success w-100 rounded d-flex flex-row justify-content-between" href="/add-to-cart/{{item.id}}/{{item.promotion}}/{{item.rootType if item.rootType|length>0 else '_'}}/{{request.path.replace('/', '$')}}">
                                    <div class="text-seconary text-center text-white" style="font-size: 14px;">{{ item.price }} KS</div>
                                    <div>
                                        <i class="fa fa-cart-plus text-light" style="font-size: 18px;"></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                        {% elif searchProducts|length > 0 %}
                        <div class="mItem p-3 border m-1 d-flex flex-column rounded justify-content-between bg-primary text-white text-center h5">
                            <div class="">Results for {{ item.type }}</div>
                        </div>
                        <div class="py-2"></div>
                        <div class="" style="overflow-x: auto">
                            <div class="rounded bg-white d-flex flex-column justify-content-center">
                                {% for p in searchProducts %}
                                <div class="p-1 border bg-light m-1 mx-auto d-flex flex-column rounded justify-content-center" style="width: 300px;">
                                    <div class="p-1 text-center">
                                        <img src="{{ url_for('static', filename='photos/'+p.type+'/'+p.img) }}" alt="{{ p.img }}" class="" style="width: 140px;">
                                    </div>
                                    <div class="p-2 text-center">
                                        <div class="h6 text-seconary text-center" style="">{{ p.fname.replace("_", " ").replace("-", " ") }}</div>
                                        <div class="text-seconary text-center text-secondary w-100" style="font-size: 13px;">{{ p.type }}</div>
                                        <a class="p-2 mt-2 bg-success w-100 rounded d-flex flex-row justify-content-between" href="/add-to-cart/{{p.id}}/{{p.promotion}}/{{p.rootType if p.rootType|length>0 else '_'}}/{{request.path.replace('/', '$')}}">
                                            <div class="text-seconary text-center text-white" style="font-size: 14px;">{{ p.price }} KS</div>
                                            <div>
                                                <i class="fa fa-cart-plus text-light" style="font-size: 18px;"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                    </div>

                    <div class="w-75 rounded border border-top-0 border-bottom-0 border-right-0 py-4 ">
                        <div class="mItem p-3 border m-1 d-flex flex-column rounded justify-content-between w-100 bg-primary text-white text-center h5">
                            <div class="">Suggestions for {{item.type}} ({{ itemList|length }}-items)</div>
                        </div>
                        <!-- <div class="text-muted px-2 w-100">Recommended {{ itemList|length }}-items</div> -->
                        
                        <div class="px-2 d-flex flex-column justify-content-center text-danger text-center" style="height: 50px; vertical-align: middle;">
                            Promotion from the suggestion items will be effected only if one or more items from the search result are bought.   
                        </div>
                        <div class="rounded py-0 d-flex flex-row flex-wrap justify-content-center">
                            
                            {% for item in itemList %}

                                <!-- {% if item is none %}
                                <div class="bg-light mItem p-1 border my-1 mx-2 d-flex flex-column rounded justify-content-between" style="width: 45%;"> {{ item }}
                                </div>
                                {% else %} -->
                                <div class="bg-light mItem p-1 border my-1 mx-2 d-flex flex-column rounded justify-content-between" style="width: 31%;">
                                    <a class="" href="/product/{{item.type}}/{{item.fname}}" style="text-decoration: none;">
                                        <div class="p-1 text-center d-flex flex-row justify-content-center">
                                            <img src="{{ url_for('static', filename='photos/'+item.type+'/'+item.img) }}" alt="{{ item.img }}" class="" style="width: 210px;">
                                            {% if item.promotion %}     
                                                <div class="d-flex flex-column justify-content-center">
                                                    <div class=" text-center p-2 text-success font-weight-bold">Discount</div>
                                                    <div class="tex-center text-success font-weight-bold h5" >
                                                        <img src="{{ url_for('static', filename='promostar.png') }}" alt="promostartimg" style="width: 120px;">
                                                        <div style="margin-top: -50px;">{{ item.promoPercent}}%</div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="p-2">
                                            <div class="h6 text-seconary text-center" >{{ item.fname.replace("_", " ").replace("-", " ") }}</div>
                                            <div class="text-seconary text-center text-secondary w-100" style="font-size: 13px;">{{ item.type }}</div>
                                        </div>
                                    </a>
                                    <a class="p-2 bg-success w-100 rounded d-flex flex-row justify-content-between" href="/add-to-cart/{{item.id}}/{{item.promotion}}/{{item.rootType if item.rootType|length>0 else '_'}}/{{request.path.replace('/', '$')}}">
                                        <div class="text-seconary text-center text-white" style="font-size: 14px;">{{item.rootType}} {{ item.price }} KS</div>
                                        <div>
                                            <i class="fa fa-cart-plus text-light" style="font-size: 18px;"></i>
                                        </div>
                                    </a>
                                </div>
                                <!-- {% endif %} -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>

</body>

</html>